footer {
    margin: 0px auto;
    max-width: 950px;
    a {
        color: #d57f7f;
    }
}

.footer-column {
    float: left;
    width: 50%;
    color: #afafaf;
    :last-child {
        text-align: right;
    }
    a {
        text-decoration:none;
    }
}

.footer-column:last-child {
    text-align: right;
}
