.svgtxt {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}
.svgtxt::selection {
    background: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

//deprecated
.node {
  cursor: pointer;
  & circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 1.5px;
  }
  & text {
  	font: 10px sans-serif;
  }

}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

//css from https://stackoverflow.com/questions/41870684/d3-js-force-graph-with-type-script-and-angular2
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
