.svgtxt {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}
.svgtxt::selection {
    background: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//css from http://bl.ocks.org/donaldh/2926502
.node {
  fill: #88f;
  stroke: #44a;
  stroke-width: 1px;
}
.aEnd,
.zEnd {
  fill: #444;
  font-family: helvetica;
  font-size: 8pt;
}
.default {
  stroke: #fbb;
  stroke-width: 4px;
}
.outline {
  stroke: #844;
  stroke-width: 6px;
}